html {
  --color-bg: #fff;
  --color-text: #333;
  --color-text-dim: #808080;
  --color-border: #bfbfbf;
  --color-active: #add8e6;
  --color-hover: #d9f5ff;
  --color-error: #f00;
  --color-btn-bg: #f4f4f4;
  --color-btn-active-bg: #ddd;
  --color-msg-border: #eeeeee;
  --color-keyword-bg: #ffffab;
  --color-username: #1e90ff;
  --color-shadow: #808080;
}

@media (prefers-color-scheme: dark) {
  html {
    --color-bg: #1b1b1b;
    --color-text: #eee;
    --color-text-dim: #999999;
    --color-border: #646464;
    --color-active: #5d8894;
    --color-hover: #374b53;
    --color-error: #cc0000;
    --color-btn-bg: #444;
    --color-btn-active-bg: #222;
    --color-msg-border: #646464;
    --color-keyword-bg: #6b6707;
    --color-username: #60c0ff;
  }
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  line-height: 1.2;
  /* Google Chrome defaults to Times New Roman and for sans-serif it prefers Arial... */
  font-family: 'DejaVu Sans', sans-serif;
  /*
   * Make content stable wrt scrollbars
   * scrollbar-gutter doesn't help because width isn't fixed
   * https://www.zhangxinxu.com/wordpress/2015/01/css-page-scrollbar-toggle-center-no-jumping/ */
  margin-left: calc(100vw - 100%);
  overflow-x: hidden;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input, button, select, textarea {
  color: var(--color-text);
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid var(--color-border);
}

input, textarea {
  background-color: var(--color-bg);
}

select, button {
  outline: none;
	background-color: var(--color-btn-bg);
}

button:not(:disabled):active {
	background-color: var(--color-btn-active-bg);
}

input,
button,
select {
  border: 1px solid var(--color-border);
  height: 2.3em;
}

input:focus,
button:focus,
select:focus {
  border-color: var(--color-active);
  outline: 1px solid var(--color-active);
  /* make focus border topmost */
  z-index: 10;
}
